{
  "openapi": "3.0.2",
  "info": {
    "title": "Deepvue.tech Developers' Guide",
    "description": "Deepvue.tech's APIs and SDKs are a No-Code Solution to Document Digitization and Verification for Businesses",
    "version": "v1",
    "x-logo": {
      "url": "https://deepvue.tech/wp-content/uploads//2022/01/deepvue-logo1-1.svg"
    }
  },
  "servers": [
    {
      "url": "https://production.deepvue.tech"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/background-verification/fir-check": {
      "post": {
        "tags": [
          "Background Verification"
        ],
        "summary": "Create FIR Check Request",
        "description": "Submit a new FIR check request with candidate details.",
        "operationId": "Create_Fir_Check_v1_background_verification_fir_check_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirCheckRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_201_IN_PROGRESS"
                },
                "examples": {
                  "201 - Request In Progress": {
                    "value": {
                      "code": 201,
                      "timestamp": 1766168439528,
                      "transaction_id": "f0be2d85823e46e38b5784340a36881d",
                      "sub_code": "IN_PROGRESS",
                      "message": "Request processing is in progress."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_400_INACTIVE_CLIENT"
                },
                "examples": {
                  "400 - Inactive Client": {
                    "summary": "Inactive client",
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_401_UNAUTHENTICATED"
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_403_ACCESS_FORBIDDEN"
                },
                "examples": {
                  "403 - Invalid Token": {
                    "summary": "Invalid token",
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_422_VALIDATION_ERROR"
                },
                "examples": {
                  "422 - Validation Error": {
                    "summary": "Request validation failed",
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "string"
                          ],
                          "msg": "string",
                          "type": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/background-verification/fir-check/{transaction_id}": {
      "get": {
        "tags": [
          "Background Verification"
        ],
        "summary": "Retrieve FIR Check Result",
        "description": "Fetch the result of the FIR check for a specific transaction ID.",
        "operationId": "Get_Fir_Check_Result_v1_background_verification_fir_check_transaction_id_get",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID received while creating the FIR check request"
          },
          {
            "name": "name_match_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Matching logic used for name comparison. Allowed values: EXACT_MATCH, EXACT_FUZZY, PARTIAL_EXACT, PARTIAL_FUZZY, NO_MATCH. Multiple values can be passed as a comma-separated string.",
            "example": "EXACT_MATCH,EXACT_FUZZY"
          },
          {
            "name": "father_match_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Matching logic used for father’s name comparison. Allowed values are the same as name_match_type. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Role of the individual in the FIR. Allowed values: RESPONDENT, PETITIONER. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "case_category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Category of FIR. Allowed values: CIVIL, CRIMINAL. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "case_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Current status of FIR. Allowed values: PENDING, DISPOSED. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "state_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether FIR matching is done at the state level. Allowed values: true or false."
          },
          {
            "name": "dist_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether FIR matching is done at the district level. Allowed values: true or false."
          },
          {
            "name": "jurisdiction_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Jurisdiction coverage for FIR search. Allowed values: NEAREST_DISTRICTS, STATE, DISTRICT, PAN_INDIA. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "algo_risk",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Risk level assigned by the algorithm. Allowed values: VERY_HIGH_RISK, HIGH_RISK, MEDIUM_RISK, LOW_RISK, VERY_LOW_RISK. Multiple values can be passed as a comma-separated string."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 - Success / In Progress",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_200_SUCCESSFUL"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_200_IN_PROGRESS"
                    }
                  ]
                },
                "examples": {
                  "200 Success - Processing Complete": {
                    "summary": "FIR check completed successfully",
                    "value": {
                      "code": 200,
                      "timestamp": 1767173662171,
                      "transaction_id": "98c6e6e4f0ee4effb63e13ff67bea45a",
                      "sub_code": "SUCCESS",
                      "message": "Process complete.",
                      "data": [
                        {
                          "fir_document_url": "https://production.deepvue.tech/v1/background-verification/fir-check/document?token=gAAAAABpgeDB7uRu-OJ0HJZxKgHi3IgCJ7g4Plb3jn-ZXYs39RXS3c9HDqkeEXGE-A_ZGUaFfVg7B7lZBWIYso_9bJFJTA7E2_Ba8F5zdZhNdvGSe2Q04NIsjt6gYNWEv99YPHpPusZb88Xf3Gd2QCg4Lf9022rSDMvklGPwd4OpQhPbb3sumvs=&exp=1772711361&sig=d0e795ce7e47d03e4274614ff65769a8d231c473029ccbf76d27092873ad086a",
                          "fir_no": 159,
                          "fir_year": "2019",
                          "police_station": "SHILLEGAON",
                          "state_name": "MAHARASHTRA",
                          "name": "santosh sitaraam ahire",
                          "name_match_type": "EXACT",
                          "name_score": 100,
                          "overall_match_type": "EXACT",
                          "revised_case_category": "Criminal",
                          "source": "fir"
                        }
                      ]
                    }
                  },
                  "200 - In Progress": {
                    "summary": "FIR check is still being processed",
                    "value": {
                      "code": 200,
                      "timestamp": 1767173627936,
                      "transaction_id": "b10ead4473ff4283ac9ea40464fbb6c0",
                      "sub_code": "IN_PROGRESS",
                      "message": "Request processing is in progress."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 - Bad Request",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_400_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_400_BAD_REQUEST"
                    }
                  ]
                },
                "examples": {
                  "400 - Inactive Client": {
                    "summary": "Inactive client",
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_401_UNAUTHENTICATED"
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_403_ACCESS_FORBIDDEN"
                },
                "examples": {
                  "403 - Invalid Token": {
                    "summary": "Invalid token",
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_422_INVALID_REQUEST_ID"
                },
                "examples": {
                  "422 - Invalid Request ID": {
                    "summary": "Invalid transaction ID",
                    "value": {
                      "code": 422,
                      "timestamp": 1767177410430,
                      "transaction_id": "0acca1189f4e4a729d2edf8077e529e2",
                      "sub_code": "INVALID_REQUEST_ID",
                      "message": "Invalid Request ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FIR_CHECK_RESULT_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/background-verification/court-record-check": {
      "post": {
        "tags": [
          "Background Verification"
        ],
        "summary": "Create Court Record Check",
        "description": "Submit a court record background verification request.",
        "operationId": "Create_Court_Record_Check_v1_background_verification_court_record_check_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CourtRecordCheckRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_201_IN_PROGRESS"
                },
                "examples": {
                  "201 - Request In Progress": {
                    "value": {
                      "code": 201,
                      "timestamp": 1766168439528,
                      "transaction_id": "f0be2d85823e46e38b5784340a36881d",
                      "sub_code": "IN_PROGRESS",
                      "message": "Request processing is in progress."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_400_INACTIVE_CLIENT"
                },
                "examples": {
                  "Inactive Client": {
                    "summary": "Inactive client",
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_401_UNAUTHENTICATED"
                },
                "examples": {
                  "Not Authenticated": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_403_ACCESS_FORBIDDEN"
                },
                "examples": {
                  "Invalid Token": {
                    "summary": "Invalid token",
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_422_VALIDATION_ERROR"
                },
                "examples": {
                  "Validation Error": {
                    "summary": "Request validation failed",
                    "value": {
                      "detail": [
                        {
                          "loc": [
                            "string"
                          ],
                          "msg": "string",
                          "type": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "Internal Server Error": {
                    "summary": "Internal server error",
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/background-verification/court-record-check/{transaction_id}": {
      "get": {
        "tags": [
          "Background Verification"
        ],
        "summary": "Get Court Record Check Result",
        "description": "Fetch the status and result of the court record check using the transaction ID received during request creation.",
        "operationId": "Get_Court_Record_Check_v1_background_verification_court_record_check_transaction_id_get",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID returned while creating the court/FIR record check request"
          },
          {
            "name": "name_match_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Matching logic used for name comparison. Allowed values: EXACT_MATCH, EXACT_FUZZY, PARTIAL_EXACT, PARTIAL_FUZZY, NO_MATCH. Multiple values can be passed as a comma-separated string.",
            "example": "EXACT_MATCH,EXACT_FUZZY"
          },
          {
            "name": "father_match_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Matching logic used for father’s name comparison. Allowed values are the same as name_match_type. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Party type in the case. Allowed values: RESPONDENT, PETITIONER. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "case_category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Category of court case. Allowed values: CIVIL, CRIMINAL. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "case_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Current status of the case. Allowed values: PENDING, DISPOSED. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "state_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether state-level matching is applied. Allowed values: true or false."
          },
          {
            "name": "dist_match",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether district-level matching is applied. Allowed values: true or false."
          },
          {
            "name": "jurisdiction_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Jurisdiction coverage for search. Allowed values: NEAREST_DISTRICTS, STATE, DISTRICT, PAN_INDIA. Multiple values can be passed as a comma-separated string."
          },
          {
            "name": "algo_risk",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Risk levels returned by algorithm. Allowed values: VERY_HIGH_RISK, HIGH_RISK, MEDIUM_RISK, LOW_RISK, VERY_LOW_RISK. Multiple values can be passed as a comma-separated string."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 - Success / In Progress",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_200_SUCCESSFUL"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_200_IN_PROGRESS"
                    }
                  ]
                },
                "examples": {
                  "200 - Successful Response": {
                    "value": {
                      "code": 200,
                      "timestamp": 1767173359430,
                      "transaction_id": "6b65f29500aa4ec0967581ff8dedd097",
                      "sub_code": "SUCCESS",
                      "message": "Processing done",
                      "data": [
                        {
                          "live_case_url": "https://services.ecourts.gov.in/ecourtindia_v6/",
                          "archive_case_url": "https://production.deepvue.tech/v1/background-verification/court-record-check/archive?token=gAAAAABpgLrCpv_eD00etRG5jxh38ISU3Yf4SYySdYuVy2_x5uW_zE8pneoCwnKxmFRtpN2MFxU6AMiXd8ynnY6g_Kohx-0BfbCvHrTEPGD-ZB6Tn-Q-wdyUZ0fAh2eMTTZEKbTX7s0PtUro5ombKqzuMFiuKit0JVsytdAH6cW3arqXoE4_VQPVFmNXrma0eV_Uyv9EriGQIbtq5Gf3GnYFZ1kXV_lH-2IiY9_nPxEkw05RApz872jkrpw6ELV3wTarv1rtdxtZ&exp=1772636098&sig=4a6f5403303cd9c94ce9efc89b1fc0747580a241d80904b5f693f0205b0d83f9",
                          "case_no": "202300001112019",
                          "case_year": "2019",
                          "case_status": "Disposed",
                          "case_category": "criminal",
                          "court_name": "District and session Court, Bilaspur",
                          "state_name": "Chhattisgarh",
                          "district_name": "Bilaspur",
                          "name": "VIJAY KUMAR MAHAN",
                          "father_name": "",
                          "score": 95,
                          "source": "ecourt"
                        }
                      ]
                    }
                  },
                  "200 - In Progress": {
                    "summary": "Court Record Check is still being processed",
                    "value": {
                      "code": 200,
                      "timestamp": 1767173627936,
                      "transaction_id": "b10ead4473ff4283ac9ea40464fbb6c0",
                      "sub_code": "IN_PROGRESS",
                      "message": "Request processing is in progress."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_RESULT_400_INACTIVE_CLIENT"
                },
                "examples": {
                  "400 - Inactive Client": {
                    "summary": "Inactive client",
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_RESULT_401_UNAUTHENTICATED"
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_RESULT_403_ACCESS_FORBIDDEN"
                },
                "examples": {
                  "403 - Invalid Token": {
                    "summary": "Invalid token",
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_422_INVALID_REQUEST_ID"
                },
                "examples": {
                  "422 - Validation Error": {
                    "summary": "Request validation failed",
                    "value": {
                      "code": 422,
                      "timestamp": 1767177410430,
                      "transaction_id": "0acca1189f4e4a729d2edf8077e529e2",
                      "sub_code": "INVALID_REQUEST_ID",
                      "message": "Invalid Request ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_COURT_RECORD_CHECK_RESULT_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/pan-msme-check": {
      "get": {
        "tags": [
          "MSME APIs"
        ],
        "summary": "Pan Msme Check",
        "description": "The PAN-MSME Check API gives information whether there is an MSME registered against a particular business PAN and whether or nor it's migrated to latest Udyam Portal.",
        "operationId": "pan_msme_check_v1_verification_pan_msme_check_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Pan Number",
              "type": "string"
            },
            "name": "pan_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 - MSME Found / MSME Not Found / Invalid PAN",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_200_SUCCESS"
                    }
                  ]
                },
                "examples": {
                  "200 - Success": {
                    "value": {
                      "code": 200,
                      "timestamp": 1738238378221,
                      "transaction_id": "3622dd90249a4e058cad04b81589ac89",
                      "sub_code": "SUCCESS",
                      "message": "Pan to Msme Check performed successfully.",
                      "data": {
                        "pan_number": "AFVPG9986M",
                        "udyam_exists": true,
                        "migration_status": null,
                        "pan_details": {
                          "full_name": "BHIVA GANGARAM GAWAS",
                          "full_name_split": [
                            "BHIVA",
                            "GANGARAM",
                            "GAWAS"
                          ],
                          "masked_aadhaar": "XXXXXXXX1712",
                          "gender": "M",
                          "dob": "1965-08-15",
                          "aadhaar_linked": true,
                          "category": "person",
                          "status": "valid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_400_INACTIVE_CLIENT"
                },
                "examples": {
                  "400 - Inactive client_id": {
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_401_UNAUTHENTICATED"
                },
                "examples": {
                  "401 - Not authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_403_ACCESS_FORBIDDEN"
                },
                "examples": {
                  "403 - Not a valid token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_422_INVALID_PAN_PATTERN"
                },
                "examples": {
                  "422 - Invalid Pan Pattern": {
                    "value": {
                      "code": 422,
                      "timestamp": 1738180009762,
                      "transaction_id": "4ddcb24ffe8a4ae39bf27e317b4327d3",
                      "sub_code": "INVALID_INPUT",
                      "message": "Invalid Pan Pattern."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_PAN_MSME_CHECK_503_SOURCE_UNAVAILABLE"
                },
                "examples": {
                  "503 - Source Unavailable": {
                    "value": {
                      "code": null,
                      "timestamp": null,
                      "transaction_id": "string",
                      "message": "Source Unavailable"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/gstin/gstin-by-pan/batch": {
      "post": {
        "tags": [
          "GST APIs"
        ],
        "summary": "Bulk Search Taxpayer By Pan",
        "description": "Use this API to do perform gstin search by pan in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "bulk_search_taxpayer_by_pan_v1_verification_gstin_gstin_by_pan_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string",
              "description": "Webhook URL where you wish to receive the file once processed."
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_bulk_search_taxpayer_by_pan_v1_verification_gstin_gstin_by_pan_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_201_INITIATED"
                },
                "examples": {
                  "201 - GSTIN By PAN Batch Processing Initiated": {
                    "value": {
                      "code": 201,
                      "timestamp": 1948475859595,
                      "transaction_id": "string",
                      "request_id": "string",
                      "message": "batch processing in progress",
                      "sub_code": "SUCCESS",
                      "output_batch_file": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 - Bad Request",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_400_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_400_BAD_REQUEST"
                    }
                  ]
                },
                "examples": {
                  "400 - Inactive Client": {
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  },
                  "400 - Bad Request": {
                    "value": {
                      "detail": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthorized",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Credential Validation Failed": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Incorrect Client Credentials": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  },
                  "403 - Access Forbidden": {
                    "value": {
                      "detail": "Access forbidden"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 - Unprocessable Entity",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_422_INVALID_BATCH_FILE_FORMAT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_422_BATCH_SIZE_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_422_INVALID_PAN_FILE_HEADERS"
                    }
                  ]
                },
                "examples": {
                  "422 - Invalid Batch File Format": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271522,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_FILE_FORMAT",
                      "message": "File format not supported"
                    }
                  },
                  "422 - Batch Size Limit Exceeded": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271509,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_SIZE",
                      "message": "Input File must have less than 1000 records"
                    }
                  },
                  "422 - Invalid PAN File Headers": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271518,
                      "transaction_id": "string",
                      "sub_code": "INVALID_INPUT_FILE_FORMAT",
                      "message": "Input File must have 'pan_number' only as headers"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_GSTIN_BY_PAN_BATCH_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/gstin-advanced/batch": {
      "post": {
        "tags": [
          "GST APIs"
        ],
        "summary": "Bulk Gstin Advanced Verification",
        "description": "Use this API to do perform gst advanced verification in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "bulk_gstin_advanced_verification_v1_verification_gstin_advanced_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string",
              "description": "Webhook URL where you wish to receive the file once processed."
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_bulk_gstin_advanced_verification_v1_verification_gstin_advanced_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_201_INITIATED"
                },
                "examples": {
                  "201 - GST Advanced Batch Processing Initiated": {
                    "value": {
                      "code": 201,
                      "timestamp": 1948475859595,
                      "transaction_id": "string",
                      "request_id": "string",
                      "message": "batch processing in progress",
                      "sub_code": "SUCCESS",
                      "output_batch_file": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 - Bad Request",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_400_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_400_BAD_REQUEST"
                    }
                  ]
                },
                "examples": {
                  "400 - Inactive Client": {
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  },
                  "400 - Bad Request": {
                    "value": {
                      "detail": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthorized",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Credential Validation Failed": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Incorrect Client Credentials": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  },
                  "403 - Access Forbidden": {
                    "value": {
                      "detail": "Access forbidden"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 - Unprocessable Entity",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_422_INVALID_BATCH_FILE_FORMAT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_422_BATCH_SIZE_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_422_INVALID_GST_FILE_HEADERS"
                    }
                  ]
                },
                "examples": {
                  "422 - Invalid Batch File Format": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271522,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_FILE_FORMAT",
                      "message": "File format not supported"
                    }
                  },
                  "422 - Batch Size Limit Exceeded": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271509,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_SIZE",
                      "message": "Input File must have less than 1000 records"
                    }
                  },
                  "422 - Invalid GST File Headers": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271518,
                      "transaction_id": "string",
                      "sub_code": "INVALID_INPUT_FILE_FORMAT",
                      "message": "Input File must have 'gstin_number' only as headers"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_GSTIN_ADVANCED_BATCH_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/upi-basic/batch": {
      "post": {
        "tags": [
          "KYC APIs"
        ],
        "summary": "Upi Basic Verification Batch",
        "description": "Use this API to do perform upi basic verification in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "upi_basic_verification_batch_v1_verification_upi_basic_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string",
              "description": "Webhook URL where you wish to receive the file once processed."
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upi_basic_verification_batch_v1_verification_upi_basic_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_201_INITIATED"
                },
                "examples": {
                  "201 - UPI Basic Batch Processing Initiated": {
                    "value": {
                      "code": 201,
                      "timestamp": 1732002740983,
                      "transaction_id": "4e8bb5ec29f34b9cb336ece4d771c64e",
                      "request_id": "4e8bb5ec29f34b9cb336ece4d771c64e",
                      "message": "batch processing in progress",
                      "sub_code": "SUCCESS",
                      "output_batch_file": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 - Bad Request",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_400_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_400_BAD_REQUEST"
                    }
                  ]
                },
                "examples": {
                  "400 - Inactive Client": {
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  },
                  "400 - Bad Request": {
                    "value": {
                      "detail": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthorized",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Credential Validation Failed": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Incorrect Client Credentials": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  },
                  "403 - Access Forbidden": {
                    "value": {
                      "detail": "Access forbidden"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 - Unprocessable Entity",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_422_INVALID_BATCH_FILE_FORMAT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_422_BATCH_SIZE_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_422_INVALID_UPI_FILE_HEADERS"
                    }
                  ]
                },
                "examples": {
                  "422 - Invalid Batch File Format": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271522,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_FILE_FORMAT",
                      "message": "File format not supported"
                    }
                  },
                  "422 - Batch Size Limit Exceeded": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271509,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_SIZE",
                      "message": "Input File must have less than 1000 records"
                    }
                  },
                  "422 - Invalid UPI File Headers": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271518,
                      "transaction_id": "string",
                      "sub_code": "INVALID_INPUT_FILE_FORMAT",
                      "message": "Input File must have 'upi_id' only as headers"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_UPI_BASIC_BATCH_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verification/mca/cin/batch": {
      "post": {
        "tags": [
          "MCA APIs"
        ],
        "summary": "Cin Verification Batch",
        "description": "Use this API to do perform Cin verification in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "Cin_Verification_Batch_v1_verification_mca_cin_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string",
              "description": "Webhook URL where you wish to receive the file once processed."
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_Cin_Verification_Batch_v1_verification_mca_cin_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 201 - Batch Completed / In Progress",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_201_COMPLETED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_201_IN_PROGRESS"
                    }
                  ]
                },
                "examples": {
                  "200 - Batch Processing Completed": {
                    "value": {
                      "transaction_id": "51cd8b6ab36d46a98afb2f01e856e89a",
                      "timestamp": 1732088933797,
                      "code": 200,
                      "message": "Batch Upload status fetched successfully",
                      "sub_code": "SUCCESS",
                      "data": {
                        "request_id": "06d0d7c340ed460d96103aaa0b26f0de",
                        "status": 200,
                        "product_id": "",
                        "message": "batch processing completed",
                        "batch_output_file_url": "https://bulk-data-processing.s3.ap-south-1.amazonaws.com/upi-basic-batch-output-files/06d0d7c340ed460d96103aaa0b26f0de.csv"
                      }
                    }
                  },
                  "200 - Batch Processing In Progress": {
                    "value": {
                      "transaction_id": "8263c58f81d54cb3a8053ac22afefa4e",
                      "timestamp": 1732103344104,
                      "code": 200,
                      "message": "Batch Upload status fetched successfully",
                      "sub_code": "SUCCESS",
                      "data": {
                        "request_id": "673f7487fc0e4949b54e443a0bcc767d",
                        "status": 201,
                        "product_id": "",
                        "message": "batch processing in progress",
                        "batch_output_file_url": null
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 - Bad Request",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_400_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_400_BAD_REQUEST"
                    }
                  ]
                },
                "examples": {
                  "400 - Bad Request": {
                    "value": {
                      "detail": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthorized",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Credentials Validation Failed": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Incorrect Client Credentials": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_422_INVALID_REQUEST_ID"
                },
                "examples": {
                  "422 - Invalid Request ID": {
                    "value": {
                      "code": 422,
                      "timestamp": 1732002741216,
                      "transaction_id": "88e4835cf10647b599ee675a473cddfd",
                      "sub_code": "INVALID_REQUEST_ID",
                      "message": "Invalid Request ID"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_BATCH_STATUS_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/mobile-intelligence/mobile-to-pan/batch": {
      "post": {
        "tags": [
          "Mobile Forensics"
        ],
        "summary": "Mobile To Pan Batch",
        "description": "Use this API to do mobile to pan in bulk. This is an async verification request. Results once processed are sent over a webhook that's registered for your account.",
        "operationId": "mobile_to_pan_batch_v1_mobile_intelligence_mobile_to_pan_batch_post",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Webhook Url",
              "type": "string",
              "description": "Webhook URL where you wish to receive the file once processed."
            },
            "name": "webhook_url",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_mobile_to_pan_batch_v1_mobile_intelligence_mobile_to_pan_batch_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_201_INITIATED"
                },
                "examples": {
                  "201 - Mobile to PAN Batch Processing Initiated": {
                    "value": {
                      "code": 201,
                      "timestamp": 1948475859595,
                      "transaction_id": "string",
                      "request_id": "string",
                      "message": "batch processing in progress",
                      "sub_code": "SUCCESS",
                      "output_batch_file": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 - Bad Request",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_400_INACTIVE_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_400_BAD_REQUEST"
                    }
                  ]
                },
                "examples": {
                  "400 - Inactive Client": {
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  },
                  "400 - Bad Request": {
                    "value": {
                      "detail": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthorized",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Credential Validation Failed": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Incorrect Client Credentials": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  },
                  "403 - Access Forbidden": {
                    "value": {
                      "detail": "Access forbidden"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 - Unprocessable Entity",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_422_INVALID_BATCH_FILE_FORMAT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_422_BATCH_SIZE_LIMIT_EXCEEDED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_422_INVALID_MOBILE_FILE_HEADERS"
                    }
                  ]
                },
                "examples": {
                  "422 - Invalid Batch File Format": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271522,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_FILE_FORMAT",
                      "message": "File format not supported"
                    }
                  },
                  "422 - Batch Size Limit Exceeded": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271509,
                      "transaction_id": "string",
                      "sub_code": "INVALID_BATCH_SIZE",
                      "message": "Input File must have less than 1000 records"
                    }
                  },
                  "422 - Invalid Mobile Number File Headers": {
                    "value": {
                      "code": 422,
                      "timestamp": 1731652271518,
                      "transaction_id": "string",
                      "sub_code": "INVALID_INPUT_FILE_FORMAT",
                      "message": "Input File must have 'mobile_number' only as headers"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_PAN_BATCH_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/mobile-intelligence/mobile-to-vehicle-rc": {
      "get": {
        "tags": [
          "Mobile Forensics"
        ],
        "summary": "Mobile To Vehicle Rc",
        "description": "Use this API to find vehicle registration linked to a given mobile number.",
        "operationId": "mobile_to_vehicle_rc_v1_mobile_intelligence_mobile_to_vehicle_rc_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Mobile Number",
              "type": "string"
            },
            "name": "mobile_number",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 - RC Numbers / No Matching Record",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_200_SUCCESSFUL"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_200_NO_MATCHING_RECORD"
                    }
                  ]
                },
                "examples": {
                  "200 - RC Numbers Fetched Successfully": {
                    "summary": "Vehicle RC numbers fetched successfully",
                    "value": {
                      "code": 200,
                      "timestamp": 1751614096035,
                      "transaction_id": "a7fed53ba22740cd9bcebd04f5ee6dce",
                      "sub_code": "SUCCESS",
                      "message": "Vehicle RC Numbers fetched successfully.",
                      "data": {
                        "rc_number": [
                          "MH02XXXXXX",
                          "MH02XXXXXX",
                          "MH02XXXXXX"
                        ]
                      }
                    }
                  },
                  "200 - No Matching Record": {
                    "summary": "No matching record found",
                    "value": {
                      "code": 200,
                      "timestamp": 1751796599834,
                      "transaction_id": "95b62ee097b747b093b0402717469235",
                      "sub_code": "NO_MATCHING_RECORD",
                      "message": "No record found"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST (Invalid Input / Parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_400_INACTIVE_CLIENT"
                },
                "examples": {
                  "400 - Inactive Client": {
                    "summary": "Inactive client",
                    "value": {
                      "detail": "Inactive client_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_401_UNAUTHENTICATED"
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_403_ACCESS_FORBIDDEN"
                },
                "examples": {
                  "403 - Invalid Token": {
                    "summary": "Invalid token",
                    "value": {
                      "detail": "Not a valid token"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_422_VALIDATION_ERROR"
                },
                "examples": {
                  "422 - Invalid Mobile Number Pattern": {
                    "summary": "Invalid mobile number pattern",
                    "value": {
                      "code": 422,
                      "timestamp": 1738036065229,
                      "transaction_id": "ae46cffd4e4647589749bcf05175a209",
                      "sub_code": "INVALID_MOBILE_NUMBER",
                      "message": "Invalid Mobile Number Pattern"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_500_INTERNAL_SERVER_ERROR"
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "summary": "Internal server error",
                    "value": {
                      "code": 500,
                      "timestamp": null,
                      "transaction_id": "string",
                      "sub_code": "INTERNAL_SERVER_ERROR",
                      "message": "Internal Server Error"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_MOBILE_TO_RC_503_SOURCE_UNAVAILABLE"
                },
                "examples": {
                  "503 - Source Unavailable": {
                    "summary": "Source unavailable",
                    "value": {
                      "code": null,
                      "timestamp": null,
                      "transaction_id": "string",
                      "message": "Source Unavailable"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/fssai-verification": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Fssai Verification",
        "description": "This API is used to verify the FSSAI ID/License Number.",
        "operationId": "FSSAI_Verification_v1_business_compliance_fssai_verification_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Fssai Id",
              "type": "string"
            },
            "name": "fssai_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 200 - FSSAI Verified / Invalid FSSAI ID",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_200_SUCCESS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_200_INVALID_FSSAI_ID"
                    }
                  ]
                },
                "examples": {
                  "200 - FSSAI Verification Successful": {
                    "value": {
                      "code": 200,
                      "timestamp": 1738210452861,
                      "transaction_id": "5a223ce2c64a439aab009c38246f9ba8",
                      "sub_code": "SUCCESS",
                      "message": "FSSAI verified successfully.",
                      "data": {
                        "id_number": "21524010000507",
                        "application_number": "30240523116619907",
                        "fssai_number": "21524010000507",
                        "details": [
                          {
                            "address_premises": "SHOP NO-F/37,1ST FLR,SEZ PLAZA BLOCK SECTOR MARVE ROAD MALAD WEST,  Marve Erangel, Greater Mumbai Ward-P/N, Greater Mumbai, Maharashtra, 400064",
                            "status_desc": "Registration Certificate issued",
                            "district_name": "Greater Mumbai",
                            "fbo_id": 599743778735406,
                            "display_ref_id": "30240523116619907",
                            "taluk_name": "Greater Mumbai Ward-P/N",
                            "company_name": "KRISHNAA  AGRO LLP",
                            "state_premises": "MH",
                            "district_premises": 458,
                            "app_type_desc": "New License/New Registration",
                            "taluk_premises": 4169,
                            "state_name": "Maharashtra",
                            "license_category_name": "Registration",
                            "app_type": "N",
                            "app_submission_date": "2024-05-23",
                            "last_updated_on": "2024-06-01",
                            "pincode": 400064,
                            "ref_id": 116619907
                          }
                        ]
                      }
                    }
                  },
                  "200 - Invalid FSSAI ID": {
                    "value": {
                      "code": 200,
                      "timestamp": 1732221224417,
                      "transaction_id": "54605be1cb2441989e8ccc8e6a04270c",
                      "sub_code": "INVALID_FSSAI_ID",
                      "message": "Invalid FSSAI ID."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthenticated / Invalid Client / Invalid Credentials / Authorization Failure",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Invalid Credentials": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Authorization Failure": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Token Expired / Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  },
                  "403 - Access Forbidden": {
                    "value": {
                      "detail": "Access forbidden"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_422_INVALID_FSSAI_PATTERN"
                },
                "examples": {
                  "422 - Invalid FSSAI Pattern": {
                    "value": {
                      "code": 422,
                      "timestamp": 1738210452861,
                      "transaction_id": "5a223ce2c64a439aab009c38246f9ba8",
                      "sub_code": "INVALID_INPUT",
                      "message": "Invalid Fssai Id Pattern."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 500 - Internal Server Error / Source Failure",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_500_INTERNAL_SERVER_ERROR"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_FSSAI_VERIFICATION_500_SOURCE_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "500 - Internal Server Error": {
                    "value": {
                      "detail": "Internal Server Error"
                    }
                  },
                  "500 - Source Failure": {
                    "value": {
                      "code": 500,
                      "timestamp": null,
                      "transaction_id": "string",
                      "sub_code": "SOURCE_FAILURE",
                      "message": "Source failure. Unable to validate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/business-compliance/shop-establishment-certificate": {
      "get": {
        "tags": [
          "Business Compliance"
        ],
        "summary": "Shop Establishment Certificate",
        "description": "This API is used to verify the Shop Establishment Certificate.",
        "operationId": "shop_establishment_certificate_v1_business_compliance_shop_establishment_certificate_get",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Certificate Number",
              "type": "string"
            },
            "name": "certificate_number",
            "in": "query"
          },
          {
            "required": true,
            "schema": {
              "title": "State Code",
              "type": "string"
            },
            "name": "state_code",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_200_SUCCESS"
                },
                "examples": {
                  "200 - Shop Establishment Verified": {
                    "value": {
                      "code": 200,
                      "timestamp": 1738342962129,
                      "transaction_id": "e4c1d5597c924ee3b03854343734e884",
                      "sub_code": "SUCCESS",
                      "message": "S&E Certificate Verified Successfully.",
                      "data": {
                        "client_id": "se_oWoreXNvdvhhlYlkxcHe",
                        "se_number": "34/156/CE/0058/2023",
                        "state_code": "KR",
                        "state_name": "Karnataka",
                        "business_name": "ACS CATERERS",
                        "address": null,
                        "user_mobile_number": "9845235360",
                        "registration_number": "34/156/CE/0058/2023",
                        "registration_date": null,
                        "category": null,
                        "certificate_number": "34/156/CE/0058/2023",
                        "document_link": "https://aadhaar-kyc-docs.s3.amazonaws.com/shop-docs/34/156/CE/0058/2023/34-156-CE-0058-2023-2025-02-03-062133-2025-02-03-062133812126.pdf",
                        "date_of_commencement": null,
                        "valid_upto": null,
                        "acknowledgement_number": "849916",
                        "email_id": null,
                        "website_url": null,
                        "name_of_occupier": null,
                        "father_name_of_occupier": null,
                        "manager_name": null,
                        "manager_father_name": null,
                        "male_workers": null,
                        "female_workers": null,
                        "young_workers": null,
                        "total_workers": null,
                        "family_members_working": null,
                        "confidential_employers_capacity": null,
                        "fax": null
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect client_id or client_secret",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 401 - Unauthenticated / Invalid Client / Invalid Credentials / Authorization Failure",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_401_UNAUTHENTICATED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_401_INVALID_CLIENT"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_401_INVALID_CREDENTIALS"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_401_AUTHORIZATION_FAILURE"
                    }
                  ]
                },
                "examples": {
                  "401 - Not Authenticated": {
                    "value": {
                      "detail": "Not authenticated"
                    }
                  },
                  "401 - Invalid Client": {
                    "value": {
                      "detail": "Invalid client_id, access Denied"
                    }
                  },
                  "401 - Invalid Credentials": {
                    "value": {
                      "detail": "Could not validate credentials"
                    }
                  },
                  "401 - Authorization Failure": {
                    "value": {
                      "detail": "Incorrect client_id or client_secret"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Access Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 403 - Token Expired / Access Forbidden",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_403_TOKEN_EXPIRED"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_403_ACCESS_FORBIDDEN"
                    }
                  ]
                },
                "examples": {
                  "403 - Invalid Token": {
                    "value": {
                      "detail": "Not a valid token"
                    }
                  },
                  "403 - Access Forbidden": {
                    "value": {
                      "detail": "Access forbidden"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "BAD_REQUEST",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 422 - Invalid State Code / Verification Failed",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_422_INVALID_STATE_CODE"
                    },
                    {
                      "$ref": "#/components/schemas/RESPONSE_SHOP_ESTABLISHMENT_422_VERIFICATION_FAILED"
                    }
                  ]
                },
                "examples": {
                  "422 - Invalid State Code": {
                    "value": {
                      "code": 422,
                      "timestamp": 1738183354954,
                      "transaction_id": "3d90ffd05e224332b4667e4f40f8fd3a",
                      "sub_code": "INVALID_STATE_CODE",
                      "message": "Invalid State Code."
                    }
                  },
                  "422 - Verification Failed": {
                    "value": {
                      "code": 422,
                      "timestamp": 1738183354954,
                      "transaction_id": "3d90ffd05e224332b4667e4f40f8fd3a",
[...]
